# Supervised Learning: Linear Regression

### Import required Libraries

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd

### Load data

In [2]:
df = pd.read_csv("audi.csv")

display(df.head())
print(df.shape)

  model  year  price transmission  mileage fuelType   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  49.6         1.0

(10668, 8)

### Separating the features and target variable

In [3]:
features = ['mileage', 'year', 'mpg', 'engineSize']
target = ['price']

X = df[features]
y = df[target]

print(X.shape, y.shape)

(10668, 4) (10668, 1)

### Create train and test set

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(8534, 4) (2134, 4) (8534, 1) (2134, 1)

### Linear Regression

In [5]:
model = LinearRegression()
model = model.fit(X_train, y_train)

### Prediction

In [6]:
y_pred = model.predict(X_test)

### Prediction Error

In [7]:
RMSE = mean_squared_error(y_test, y_pred, squared=False)
print(RMSE)

5719.124258888182